@import url(reset-style.css);
@import url(all.min.css);




body {
    margin: 0 auto;
    padding: 0;
    font-family: "Droid", sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menu-item a:hover {
    color: #2ecc71;
    transition: .5s;
}

header .container {
    display: flex;
    padding: 15px;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
}

.menu-item {
    padding: 5px 15px;
}

.menu-item a {
    color: #FFF;
    font-size: 22px;
    text-decoration: none;
    font-family: "Droid", sans-serif;
}

        /*VIDEO*/

.video {
    height: 100vh;
    background-color: #808080;
}

video {
    width: 100%;
    height: auto;
}

.sixteen-nine {
    position: relative;
}

.sixteen-nine:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}

.sixteen-nine > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-welcome {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 35%;
    right: 20%;
    left: 20%;
    margin: 0 auto;
}

.welcome-title {
    font-size: 80px;
    font-weight: 700;
    max-width: 850px;
    text-align: center;
    color: #FFF;
    position: absolute;
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 340px;
}

.v i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    color: #FFF;
    font-size: 35px;
    border: 1px solid #2ECC71;
    border-radius: 50%;
    background-color: #2ECC71;

}

.explore a {
    text-decoration: none;
}

.v-title {
    font-size: 27px;
    color: #FFF;
    margin: 15px;
    font-family: "Droid", serif;
}

        /*ABOUT*/

#about {
    background-color: #34495E;
    position: relative;
}

.container-about {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.block-about {
    max-width: 780px;
    margin-left: 185px;
    margin-right: 190px;
}

#about .about-title {
    padding: 125px 50px 0;
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    margin-top: 0;
    color: #FFF;
}

.about-text {
    color: #FFF;
    padding: 65px 70px;
    font-size: 24px;
    font-weight: 400;
}

.gear i  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
    color: #FFF;
    font-size: 65px;
    border: 4px solid #FFF;
    border-radius: 50%;
}

.gear-title, .retina-title, .support-title {
    color: #FFF;
    text-align: center;
    font-size: 26px;
}

.retina i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
    color: #FFF;
    font-size: 60px;
    border: 4px solid #FFF;
    border-radius: 50%;
}

.support i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
    color: #FFF;
    font-size: 60px;
    border: 4px solid #FFF;
    border-radius: 50%;
}

.options {
    display: flex;
    padding: 0;
    margin: 0;
}

.options-items {
    max-width: 250px;
    justify-content: space-between;
}

.options li {
    list-style-type: none;
    text-align: center;
    margin: 0 55px 110px;
}

.options-items a {
    text-decoration: none;
}

.options-items i {
    margin: 0 77px;
}

.options h4, .options p {
    color: #FFF;
    padding-top: 30px;
}

.gear-text, .retina-text, .support-text {
    font-size: 20px;
}

        /*PORTFOLIO*/

#portfolio {
    padding-bottom: 110px;
}

.container-portfolio {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.portfolio-title {
    text-align: center;
    color: #2C3E50;
    font-weight: 700;
    font-size: 45px;
    padding-top: 125px;
}

.portfolio-menu {
    padding: 70px 100px;
    text-align: center;
}

.portfolio-menu li {
    display: inline;
}

.portfolio-menu a {
    text-decoration: none;
    text-align: center;
    padding: 5px 30px;
    color: #2C3E50;
    font-weight: 400;
    font-size: 30px;
}

.portfolio-menu a:hover {
    background-color: #2ECC71;
    color: #FFF;
    padding: 5px 30px;
    border-radius: 20px;
    transition: .5s;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 260px 260px;
    grid-gap: 30px;
    list-style-type: none;
    justify-content: space-around;
    align-self: center;
    padding: 0;
}

.portfolio-item {
    position: relative;
}

.portfolio-item img {
    width: 350px;
    height: 260px;
    border: 1px solid #FFF;
    outline: 1px solid #e9e9e9;
    padding: 10px;
    align-items: center;
}

.block-front {
    max-height: 260px;
    max-width: 350px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3D4F5E;
    text-align: center;
    padding-top: 100px;
    opacity: 0;
    transition-duration: .8s;
}

.portfolio-item:hover .block-front {
    opacity: .8;
}

.block-front h4 {
    font-size: 35px;
    margin: 0;
    padding-bottom: 40px;
    text-decoration: none;
    color: #FFF;
}

.block-front a {
    font-size: 13px;
    border: 1px solid #FFF;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    color: #FFF;
}


/*TEAM*/

#team {
    background-color: #2980B9;
    width: 100%;
}

.container-team {
    max-width: 730px;
    margin: 0 auto;
    background-color: #2980B9;
}

.team-wraper {
    margin: 0 20px;
}

.team-title {
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
    padding-top: 120px;
    text-align: center;
}

.team-items {
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.cosmo, .george {
    margin: 60px 20px 100px;
    max-width: 300px;
}

.team-items img {
    border: 4px solid #FFF;
    border-radius: 50%;
}

.team-items a {
    text-decoration: none;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
}

.team-social i  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    color: #FFF;
    font-size: 35px;
    border: 3px solid #FFF;
    border-radius: 50%;
    margin: 40px 15px;
}

.team-items h4, .team-items p {
    color: #FFF;
}

.team-items h4 {
    font-weight: 700;
    font-size: 26px;
    margin-top: 30px;
}

.team-items p {
    font-weight: 400;
    font-size: 20px;
    font-family: "Droid", sans-serif;
    margin-top: 30px;
}

/*CONTACT*/

#contact {

}

.container-contact {
    max-width: 725px;
    width: 100%;
    margin: 0 auto;
}

.contact-item {
    text-align: center;
}

.contact-title {
    color: #2C3E50;
    font-size: 45px;
    font-weight: 700;
    padding-top: 125px;
}

.contact-text {
    color: #2C3E50;
    font-size: 26px;
    font-weight: 700;
    padding-top: 65px;
}

.feedback {
    padding-top: 85px;
    max-width: 380px;
}

.name[placeholder] {
    font-weight: 400;
    font-size: 26px;
    border-style: none;
    color: #2C3E50;
    margin-left: 10px;
}

.mail[placeholder] {
    font-weight: 400;
    font-size: 26px;
    border-style: none;
    color: #2C3E50;
    margin-left: 10px;
}

.message[placeholder] {
    font-weight: 400;
    font-size: 26px;
    border-style: none;
    color: #2C3E50;
    margin-left: 10px;
    resize: none;
    padding-top: 65px;
    padding-bottom: 105px;
    font-family: "Droid", sans-serif;
}

label, textarea:after {
    content: "";
    display: block;
    height: 3px;
    width: 370px;
    background-color: #2ECC71;
    margin: 10px;
}

.button {
    color: #FFF;
    font-size: 21px;
    font-weight: 400;
    background-color: #2ECC71;
    border: 1px solid #2ECC71;
    border-radius: 20px;
    width: 130px;
    height: 50px;
    margin-top: 45px;
}

.feedback-metods {
    display: flex;
    justify-content: space-between;
    padding-bottom: 115px;
}

.contact-address {
    padding-top: 85px;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.address, .email, .phone {
    font-weight: 700;
    font-size: 16px;
    color: #2C3E50;
}

.location, address.letter, address.phone {
    font-weight: 400;
    font-size: 20px;
    color: #2C3E50;
    padding-bottom: 45px;
}

.contact-address

a.letter, a.phone {
    text-decoration: none;
    font-size: 20px;
    font-family: "Droid", sans-serif;
}


/*FOOTER*/

footer {
    background-color: #2C3E50;
}

.footer-container {
    margin: 0 auto;
    max-width: 835px;
    width: 100%;
}

.address-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 65px;
}

.logo {
    margin-left: 40px;
}

.logo-img {
    margin-top: 75px;
}

.footer-address  {
    text-align: left;
    max-width: 165px;
    color: #FFF;
    font-size: 16px;
}

.footer-address a {
    text-decoration: none;
    color: #FFF;
}

.footer-mailto a {
    max-width: 185px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    margin: 0;
    font-size: 16px;
    font-family: "Droid", sans-serif;
}

.footer-social {
    max-width: 250px;
    display: flex;
    justify-content: space-between;
}

.icon-twitter i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    color: #FFF;
    font-size: 35px;
    border: 3px solid #FFF;
    border-radius: 50%;
    margin: 15px;
}

.icon-facebook i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    color: #FFF;
    font-size: 35px;
    border: 3px solid #FFF;
    border-radius: 50%;
    margin: 15px;
}

.icon-instagram i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    color: #FFF;
    font-size: 35px;
    border: 3px solid #FFF;
    border-radius: 50%;
    margin: 15px;
}








